$turquoise:#00A499;
$color-turquoise-secondary: #018077;
$color-border: #dbdbdb;
$white:#FFFFFF;
$lilac: rgb(205, 90, 155);
$bigaro: rgb(150, 125, 185);
$red: rgb(240, 80, 95);
$yellow: rgb(255, 216, 0);
$green: rgb(160, 200, 100);
$primary:rgb(40,170,225);
$grey: #e4e4e4;
$border-color: #DBE2E9;
$black-disabled: #5a5a5a;