@import '~antd/dist/antd.css';
@import "colors";
@import "sizes";

* {
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $turquoise !important;
}

h1 {
  text-align: center;
  font-size: 50px !important;
  font-weight: bold !important;
}

h2 {
  text-align: center;
  font-size: 32px !important;
  font-weight: bold !important;
}

h3 {
  text-align: center;
  font-weight: bold !important;
  font-size: 28px !important;
}

h4 {
  text-align: center;
  font-size: 26px !important;
  font-weight: bold !important;
}

h5 {
  text-align: center;
  font-size: 24px !important;
  font-weight: bold !important;
}

h6 {
  text-align: center;
  font-size: 20px !important;
  font-weight: bold !important;
}